@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&display=swap"');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .image-style {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #image-landing {
    background-image: url('https://images.unsplash.com/photo-1639947866585-433f2432ce7c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=882&q=80');
  }

  #image-location {
    background-image: urL('https://images.unsplash.com/photo-1584352703598-7e6f2bbaf77c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    filter: grayscale(100%);
  }

  #image-location-two {
    background-image: url('https://images.unsplash.com/photo-1521917441209-e886f0404a7b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2660&q=80');
  }

  #image-members {
    background-image: url('https://images.unsplash.com/photo-1604741948035-aa4c9ef0fcec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
